---
import Layout from '../layouts/Layout.astro';
import ProfileLinks from '../components/ProfileLinks.astro';
import { Image } from 'astro:assets';
import profile from "../../public/profile.webp";

const links = [
	{
		title: "Discord",
		href: "https://discord.com/users/907384107053506631"		
	},
	{
		title: "Gitlab (Manjaro)",
		href: "https://gitlab.manjaro.org/pheiduck"		
	},
	{
		title: "Manjaro Forum",
		href: "https://forum.manjaro.org/u/pheiduck/"		
	},
	{
		title: "Github",
		href: "https://github.com/pheiduck",
	},
	{
		title: "Youtube",
		href: "https://www.youtube.com/@phandr1x",
	},
	{
		title: "LinkedIn",
		href: "https://www.linkedin.com/in/philip-heiduck",
	},
]
---

<Layout title="Homepage for @pheiduck">
	<main>
		<div class="profile-image-container">
			<Image class="profile-image" width="200" height="200" src={profile} alt="profilebild" />
		</div>
		<h1 class="text-center">@pheiduck</h1>
		<p class="text-center">
			These are my links below, hope to see you soon!
		</p>
		<ul>
			<!-- generate links -->
			{links.map((links) => (<ProfileLinks {...links} />))}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.text-center {
		text-align: center;
	}
	.profile-image-container {
		border-radius: 100%;
		width: 200px;
		display: block;
		margin: 0 auto;	
	}
	.profile-image {
		border-radius: 100%;
		width: 200px;
		display: block;
		margin: 0 auto;		
	}
</style>
