---
import Layout from '../layouts/Layout.astro';
import ProfileLinks from '../components/ProfileLinks.astro';
import { Image } from 'astro:assets';
import profile from "../../public/profile.webp";

const links = [
  { title: "Discord", href: "https://discord.com/users/907384107053506631" },
  { title: "Gitlab (Manjaro)", href: "https://gitlab.manjaro.org/pheiduck" },
  { title: "Manjaro Forum", href: "https://forum.manjaro.org/u/pheiduck/" },
  { title: "Github", href: "https://github.com/pheiduck" },
  { title: "Youtube", href: "https://www.youtube.com/@phandr1x" },
  { title: "LinkedIn", href: "https://www.linkedin.com/in/philip-heiduck" }
];
---

<Layout title="Homepage for @pheiduck">
  <main>
    <div class="profile-image-container">
      <Image class="profile-image" width="200" height="200" src={profile} alt="profilebild" />
    </div>

    <h1 class="text-center">@pheiduck</h1>
    <p class="text-center">
      These are my links below, hope to see you soon!
    </p>

    <ul>
      {links.map(link => (<ProfileLinks {...link} />))}
    </ul>
  </main>
</Layout>

<style>
main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}
.text-center {
  text-align: center;
}
.profile-image-container {
  border-radius: 100%;
  width: 200px;
  display: block;
  margin: 0 auto;  
}
.profile-image {
  border-radius: 100%;
  width: 200px;
  display: block;
  margin: 0 auto;    
}
</style>
