---
const platform = "github";
const username = "pheiduck";
const repo = "phandrix";
---

<footer>
  <p>© {new Date().getFullYear()}, <a href={`https://www.${platform}.com/${username}/${repo}/blob/main/LICENSE`}>LICENSE</a></p>
</footer>
