---
const year = new Date().getFullYear()
const platform = "github";
const username = "pheiduck";
const repo = "phandrix";
---

<footer>
  <p>© 2024 - <span id="footer-year">{year}</span>, <a href={`https://www.${platform}.com/${username}/${repo}/blob/main/LICENSE`}>LICENSE</a></p>
</footer>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
